<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Error page</title>
    <link rel="stylesheet" href="../css/style.css" >
</head>
<body>
<section class="errorShow">
    <div class="errorShadow">
        <div class="errorContainer">
            <p id="oops">OOPS!</p>
            <h3>Access Denied Exception</h3>
            <div>
                Logged in user: <b th:inline="text"  class="user"> [[${#httpServletRequest.remoteUser}]] </b>
                <form th:action="@{/app-logout}" method="POST">
                    <input type="submit" value="Logout"/>
                </form>
            </div>
            <p class="error" th:text="${errorMsg}">Error</p>
        </div>
    </div>
</section>
</body>
</html>




<head>
      <title>Spring Boot</title>
</head>
<body>

</body>
</html>   